DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=

EMAIL_VERIFY_SECRET=
EMAIL_VERIFY_EXPIRE_SECONDS=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

RECIPE_UPLOADER=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_S3_BUCKET=
AWS_S3_EXPIRATION_SECONDS=
